/* Vars:
   ========================================================================== */

// Font
$mainFontSize            : 16px;
$mainFontWeight          : 500;
$mainLineHeight          : 19.5px;

//Color
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlackTwo:#171D22;
$colorBlackThree:#272625;
$colorBlackFour: #100F0E;
$colorBlackFive: #444444;
$colorGrey: #F2F2F2;
$colorGreyTwo: #BABABA;
$colorGreyThree: #4A5664;
$colorGreyFour: #DBDBDB;
$colorOrange: #DA590F;
$colorOrangeTwo: #FF9D65;
$colorOrangeThree: #EB5A08;
$colorOrangeFour: #BC4400;
$colorOrangeFive: #FFC4A1;
$colorGreen: #A5AB00;
$colorGreenTwo: #CFD349;
$colorGreenThree: #DADE5780;
$colorGreenFour:#E6E8A4;
$colorGreenFive:#DADE57;
$colorGreenSix: #737702;
$colorYellow: #F1F3B9;
$colorYellowTwo: #FBCA34;
$colorGreenSeven: #9CA106;
$colorGreenEight: #959A03;
$colorGreenNine: #7D8202;
$colorGreenTen: #7C8F07;
$colorIcon: #444444;
$colorPink: #FD1084;
//Gradient



//Fonts
$fontWeightLight: 300;
$fontWeightMedium: 500;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
