@import "../../scss/vars";
@import "../../scss/mixin";

.banner {
  &__info {
    color: $colorBlackThree;
    max-width: 293px;
    border-radius: 32px;
    border: 2px solid transparent;
    @include gradientBorder;
    position: absolute;
    top: -69px;
    left: 0;

    &-blocks {
      position: absolute;
      top: 16px;
      right: 10px;
      @include flex-column;
      @include gap(8px);
    }

    &-block {
      @include flex-center;
      width: 40px;
      height: 40px;
    }

    &-group {
      padding: 16px 32px 44px;
      @include flex-column;
      @include gap(14px);
    }

    &-btn {
      max-width: max-content;
      left: 6%;
      bottom: -24px;
      position: absolute;
    }

    h3 {
      font-weight: $fontWeightSemiBold;
    }

    &-img {
      img {
        border-radius: 32px 32px 0 0;
      }
    }
  }

  &__branch {
    position: absolute;
    left: 0;
    bottom: 101px;
  }

  &__branch-two {
    position: absolute;
    right: -80px;
    top: 0;
  }

  &__item {
    position: relative;
    flex-direction: row;
    display: flex;
  }

  &__group {
    border-radius: 24px;
    background-color: $colorWhite;
    @include flex-column;
    width: 100%;

    &_one {
      z-index: 20;
      height: 158px;
      position: relative;
      gap: 16px;
      padding: 24px 32px;
      max-width: 414px;
      bottom: -348px;
      left: 187px;
    }

    &_two {
      position: fixed;
      z-index: 20;
      align-items: center;
      padding: 8px 20.5px;
      max-width: 200px;
      top: 56%;
      right: 3%;
    }

    h3 {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  h1 {
    margin-bottom: 24px;
  }

  &__button {
    margin: 0 25% 0 auto;
    padding-left: 45px;
    padding-right: 45px;
  }

  &__container {
    position: relative;
    padding-top: 34px;
    padding-bottom: 55px;
  }

  &__img {
    margin-top: 28px;

    img {
      position: relative;
      left: -92px;
      border-radius: 32px;
      display: block;
    }
  }

  &__title {
    font-family: "Montserrat Alternates", sans-serif;
    display: block;
    margin: 0 15% 0 auto;
    text-align: end;
  }
}